<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="auth-container">
    <h1 class="auth-title">Восстановление пароля</h1>

    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
    <small th:if="${emailError}" class="alert alert-danger" th:text="${emailError}"></small>
    <form th:action="@{/reset_password}" method="post" class="auth-form">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-input" required placeholder="Введите ваш email">
        </div>

        <button type="submit" class="btn-primary">Отправить ссылку</button>
    </form>

    <div class="auth-links">
        <a href="/" class="auth-link">На главную</a>
        <a href="/login" class="auth-link">Войти в аккаунт</a>
    </div>
</div>
</body>
</html>